@page
@model HospiEnCasa.App.FrontEnd.Pages.Pacientes.DetailsModel
@{
    int pacienteId=Model.Paciente.Id;
}
<h6>Datos Detallados del Paciente: @Model.Paciente.Nombre @Model.Paciente.Apellidos</h6>
<div>
    IDENTIFICACION: @Model.Paciente.Id
</div>
<div>
    Nombre: @Model.Paciente.Nombre
</div>
<div>
    Apellidos: @Model.Paciente.Apellidos
</div>
<div>
    Telefono: @Model.Paciente.NumeroTelefono
</div>
<div>
    Ciudad: @Model.Paciente.Ciudad
</div>
<div>
    Dirección: @Model.Paciente.Direccion
</div>
<div>
    Medico Id: @Model.Paciente.Medico.Id Doctor: @Model.Paciente.Medico.Nombre @Model.Paciente.Medico.Apellidos
</div>

  <a class="btn btn-primary table-btn" asp-page="./Signos/List" asp-route-pacienteId="@pacienteId">
            <i aria-hidden="true">Signos Vitales</i>
</a>

    
<a asp-page="./List" class="btn btn-primary"> Volver a la Lista de Pacientes </a>